.main {
  .container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    position: relative;
  }

  .titre {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin: 100px; 
    color: black; 
    background-color: black;
    padding: 10px;
  }
}

.fond {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  display: flex;
  // filter: brightness(0.8);
}
